BasedOnStyle: LLVM
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseArrows: false
  AlignCaseColons: false
AlignTrailingComments:
  AlignPPAndNotPP: true
  Kind:            Always
  OverEmptyLines: 2
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBinaryOperators: All
BreakTemplateDeclarations: Yes
ColumnLimit: 80
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 4
NamespaceIndentation: All
NumericLiteralCase:
  ExponentLetter:  Lower
  HexDigit:        Lower
  Prefix:          Lower
  Suffix:          Lower
PackConstructorInitializers: NextLineOnly
PointerAlignment: Left
ReferenceAlignment: Pointer
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParensOptions:
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpaceInEmptyBraces: Always
TabWidth: 4